/* 
    Document   : topicmodel
    Created on : Aug 5, 2013, 4:00:08 PM
    Author     : Hui Yang <hyang@i-a-i.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

